<div class="row text-center text-success m-3">
    <h1>వరి విత్తనములు</h1><hr>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-center p-2"><h1 style="color:darkblue;text-decoration:underline;">నిధి గోల్డ్</h1></div>
                <img src="./assets/paddy5.jpg" alt="paddy" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-120 నుండి 130 రోజులు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>ధాన్యం రకం</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-దొడ్డు రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>మొక్కల ఎత్తు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-95 నుండి 100 సెం.మీ</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>విత్తనమోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-10 నుండి 12 కిలోలు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>లక్షణాలు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-అధిక పిలకలు వచ్చును</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>రోగ నిరోధక శక్తి</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-అగ్గి తెగులు , దోమతట్టుకుంటుంది</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-center text-info text-decoration-underline p-2"><h1>అజంతా-౩౩౩</h1></div>
                <img src="./assets/paddy5.jpg" alt="paddy" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-info"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-info">-120 నుండి 130 రోజులు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-info"><span style="font-weight:bold;">></span>ధాన్యం రకం</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-info">-దొడ్డు రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-info"><span style="font-weight:bold;">></span>మొక్కల ఎత్తు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-info">-95 నుండి 100 సెం.మీ</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-info"><span style="font-weight:bold;">></span>విత్తనమోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-info">-10 నుండి 12 కిలోలు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-info"><span style="font-weight:bold;">></span>లక్షణాలు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-info">-గింజ గట్టి దనం ఎక్కువ</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-info"><span style="font-weight:bold;">></span>రోగ నిరోధక శక్తి</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-info">-అగ్గి తెగులు , దోమతట్టుకుంటుంది</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-center p-2"><h1 style="color:orangered;text-decoration:underline;">నిధి గోల్డ్</h1></div>
                <img src="./assets/paddy5.jpg" alt="paddy" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;">-1౩0 నుండి 135 రోజులు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;"><span style="font-weight:bold;">></span>ధాన్యం రకం</p>
                        </div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;">-సన్న రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;"><span style="font-weight:bold;">></span>మొక్కల ఎత్తు</p>
                        </div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;">-110 నుండి 115 సెం.మీ</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;"><span style="font-weight:bold;">></span>విత్తనమోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;">-10 కిలోలు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;"><span style="font-weight:bold;">></span>లక్షణాలు</p>
                        </div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;">-సన్న రకాలలో అధిక దిగుబదినిచ్చును</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;"><span style="font-weight:bold;">></span>రోగ నిరోధక శక్తి</p>
                        </div>
                        <div class="col-4">
                            <p class="types" style="color:orangered;">-తెగుళ్లను తట్టుకుంటుంది</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-center text-decoration-underline text-warning p-2"><h1>సాయి గోల్డ్</h1></div>
                <img src="./assets/paddy5.jpg" alt="paddy" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-140 నుండి 145 రోజులు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>ధాన్యం రకం</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-అతి సన్న రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>మొక్కల ఎత్తు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-105 నుండి 110 సెం.మీ</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>విత్తనమోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-10 కిలోలు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>లక్షణాలు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-అధిక ధర వచ్చు అతి సన్న రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>రోగ నిరోధక శక్తి</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-చీడ, పీడలను తట్టుకుంటుంది</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-center text-decoration-underline text-success p-2"><h1>ఆన్నపూర్ణ-16</h1></div>
                <img src="./assets/paddy5.jpg" alt="paddy" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-130 నుండి 140 రోజులు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>ధాన్యం రకం</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-అతి సన్న రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>మొక్కల ఎత్తు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-105 నుండి 110 సెం.మీ</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>విత్తనమోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-10 కిలోలు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>లక్షణాలు</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-తినడానికి, దిగుబడికి అనువైన సన్న రకం</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>రోగ నిరోధక శక్తి</p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-తెగుళ్లను తట్టుకుంటుంది</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>