<div class="row text-center text-success m-3">
    <h1>మొక్కజొన్న విత్తనములు</h1><hr>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-center p-2"><h1 style="color:orangered;text-decoration:underline;">మొక్కజొన్న</h1></div>
                <img src="./assets/maize4.jpg" alt="maize" style="object-fit: cover;height:300px" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-primary">-100 రోజులు</p>
                        </div>
                    </div><hr>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-success"><span style="font-weight:bold;">></span>విత్తనమోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-success">-25 నుండి 30 క్విన్టల్స్</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
