<div class="row text-center text-success p-3">
    <h1>జొన్న విత్తనములు</h1><hr>
</div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-title text-warning text-center p-2 text-decoration-underline"><h1>Red jowar</h1></div>
                <img src="./assets/jowar4.jpg" alt="jowar" class="card-img-top">
                <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3><hr>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>పంటకాలం </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-90 రోజులు</p>
                        </div><hr>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4">
                            <p class="types text-warning"><span style="font-weight:bold;">></span>విత్తన మోతాదు (ఎకరానికి) </p>
                        </div>
                        <div class="col-4">
                            <p class="types text-warning">-18 నుండి 26 క్విన్టల్స్</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-title text-danger text-center text-decoration-underline p-2"><h1>White jowar</h1></div>
                <img src="./assets/jowar4.jpg" alt="jowar" class="card-img-top">
                <div class="card-body">
                    <div class="card-text">
                        <div class="row">
                            <h3 style="margin-left:5px;" class="text-secondary">ముఖ్యలక్షణాలు:</h3><hr>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3"></div>
                            <div class="col-4">
                                <p class="types text-danger"><span style="font-weight:bold;">></span>పంటకాలం </p>
                            </div>
                            <div class="col-4">
                                <p class="types text-danger">-90 రోజులు</p>
                            </div><hr>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3"></div>
                            <div class="col-4">
                                <p class="types text-danger"><span style="font-weight:bold;">></span>విత్తన మోతాదు (ఎకరానికి) </p>
                            </div>
                            <div class="col-4">
                                <p class="types text-danger">-18 నుండి 26 క్విన్టల్స్</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
