
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="row">
                <a routerLink="/paddy" class="iconimg d-flex justify-content-center"><img src="./assets/paddylogo.jpg" alt="paddy" class="img-fluid iconimg"></a>
            </div>
            <div class="row">
                <a routerLink="paddy" class="icons text-success d-flex justify-content-center">వరి</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="row">
                <a routerLink="/bajra" class="iconimg d-flex justify-content-center"><img src="./assets/bajraicon.png" alt="bajra" class="img-fluid iconimg"></a>
            </div>
            <div class="row">
                <a routerLink="bajra" class="icons text-success d-flex justify-content-center">సజ్జ</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="row">
                <a routerLink="/maize" class="iconimg d-flex justify-content-center"><img src="./assets/maizelogo.jpg" alt="maize" class="img-fluid iconimg"></a>
            </div>
            <div class="row">
                <a routerLink="maize" class="icons  text-success d-flex justify-content-center">మొక్కజొన్న</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <div class="row">
                <a routerLink="/jowar" class="iconimg d-flex justify-content-center"><img src="./assets/jowaricon3.jpg" alt="jowar" class="img-fluid jowaricon iconimg"></a>
            </div>
            <div class="row">
                <a routerLink="jowar" class="icons  text-success d-flex justify-content-center">జొన్న</a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="carousel slide carousel-fade" id="carouselid" data-bs-ride="carousel" data-bs-interval="1000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselid" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carouselid" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselid" data-bs-slide-to="2"></button>
                <button tyep="button" data-bs-target="#carouselid" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/maize1.jpg" alt="maize" class="cimg">
                </div>
                <div class="carousel-item">
                    <img src="./assets/paddy2.jpg" alt="paddy" class="cimg">
                </div>
                <div class="carousel-item">
                    <img src="./assets/bajrahd.jpg" alt="bajra" class="cimg">
                </div>
                <div class="carousel-item">
                    <img src="./assets/jowar3.jpg" alt="jowar" class="cimg">
                </div>
            </div>
        </div>
    </div>
    <div class="row m-4 text-center">
        <h3 style="text-decoration: underline;color:darkcyan">KGLN వారి అజంతా బ్రాండ్ గల పరిశోధిత విత్తనములు</h3>
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="col-7">
                    <img src="./assets/paddy5.jpg" style="object-fit:cover;" alt="paddy" width="100%" height="100%">
                </div>
                <div class="col-5">
                    <div class="card-title text-success text-center"><h1>వరి</h1></div><hr>
                    <div class="card-text">
                        <h3 class="text-secondary">రకాలు:</h3>
                        <div class="m-3 types">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>నిధి గోల్డ్</p>
                            <p class="types text-primary"><span style="font-weight:bold;">></span>అజంతా -౩౩౩</p>
                            <p class="types text-primary"><span style="font-weight:bold;">></span>అమన్ గోల్డ్</p>
                            <p class="types text-primary"><span style="font-weight:bold;">></span>సాయి గోల్డ్</p>
                            <p class="types text-primary"><span style="font-weight:bold;">></span>ఆన్నపూర్ణ-16</p>
                        </div>
                    </div>
                    <button routerLink="/paddy" class="btn btn-primary btn mt-2">వివరాలు</button>
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="row">
                <div class="col-5">
                    <div class="card-title text-success text-center font-weight-bold"><h3>మొక్కజొన్న</h3></div><hr>
                    <div class="card-text">
                        <h3 style="margin-left:5px;" class="text-secondary">రకాలు:</h3>
                        <div class="m-3 types">
                            <p class="types text-info"><span style="font-weight:bold;">></span>మొక్కజొన్న</p>
                            <p class="types text-info"><span style="font-weight:bold;">></span>సూపర్-60</p>
                        </div>
                    </div>
                    <button routerLink="/maize" class="btn btn-primary btn mt-2 d-flex mx-auto">వివరాలు</button>
                </div>
                <div class="col-7">
                    <img src="./assets/maize2.jpg" style="object-fit:cover;" alt="paddy" width="100%" height="100%">
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="row">
                <div class="col-7">
                    <img src="./assets/jowar4.jpg" style="object-fit:cover;" alt="jowar" width="100%" height="100%">
                </div>
                <div class="col-5">
                    <div class="card-title text-success text-center"><h1>జొన్న</h1></div><hr>
                    <div class="card-text">
                        <h3 class="text-secondary">రకాలు:</h3>
                        <div class="m-3 types">
                            <p class="types text-primary"><span style="font-weight:bold;">></span>Red jowar</p>
                            <p class="types text-primary"><span style="font-weight:bold;">></span>white jowar</p>
                        </div>
                    </div>
                    <button routerLink="/jowar" class="btn btn-primary btn mt-2">వివరాలు</button>
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="row">
                <div class="col-5">
                    <div class="card-title text-success text-center"><h1>సజ్జ</h1></div><hr>
                    <div class="card-text">
                        <h3 style="margin-left:5px;" class="text-secondary">రకాలు:</h3>
                        <div class="m-3 types">
                            <p class="types text-info"><span style="font-weight:bold;">></span>Bajra-288</p>
                            <p class="types text-info"><span style="font-weight:bold;">></span>Bajra-284</p>
                            <p class="types text-info"><span style="font-weight:bold;">></span>Bajra-211</p>
                        </div>
                    </div>
                    <button routerLink="/bajra" class="btn btn-primary btn mt-2 d-flex mx-auto">వివరాలు</button>
                </div>
                <div class="col-7">
                    <img src="./assets/bajrahd1.jpg" style="object-fit:cover;" alt="paddy" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</div>


